appdirs==1.4.0
autopep8==1.2.4
beautifulsoup4==4.5.3
Django==1.10.5
django-filter==1.0.1
django-registration==2.2
djangorestframework==3.5.3
Markdown==2.6.8
olefile==0.44
packaging==16.8
pep8==1.7.0
Pillow==4.0.0
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
wikipedia==1.4.0
