{%extends "base.html"%}
{%block content%}


<nav class='blue'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">  Today's Timeline</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

    </ul>
    <form method="GET" action="">
    <div class="input-field">
      <label for="search"></label>
     <input type="text" name="q" placeholder="  Search" value="{{request.GET.q}}"/>
     <!-- <input type="submit" value="Search"/> -->
    </div>
    </form>
  </div>
</nav





 
    

<!-- {{Data}} -->

{%for summarys in Data.news%} 

{%for summary in summarys.links%}




  <div class="col-sm-10 m7 col-sm-offset-1">
              <h4>Story</h4>
          <p>{{summarys.story|safe}}</p>
    <h2 class="header">{{summary.normalizedtitle}}</h2>
    <div class="card small horizontal">
      <div class="card-image">
        <img src="{{summary.thumbnail.source}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>{{summary.extract}}.</p>
        </div>
        <div class="card-action">
          <p>{{summary.description}}</p>
          <p><a href='/webpage/related/{{summary.title}}'  class="black waves-effect waves-light btn" role="button">++</a></p>

        </div>
      </div>
    </div>
  </div>
          

{% endfor%}
<!-- {{summary}} -->
{% endfor%}



        <footer class="page-footer white">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text">Wiki+</h5>
                <p class="balck-text text-lighten-4">A brand new edge to wikipedia.</p>
              </div>
              <!-- <div class="col l4 offset-l2 s12"> -->
                <!-- <h5 class="white-text">Links</h5> -->
                <!-- <ul> -->
                  <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li> -->
                  <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li> -->
                  <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li> -->
                  <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
                <!-- </ul> -->
              <!-- </div> -->
            <!-- </div> -->
          </div>
          <div class="footer-copyright">
            <div class="container black-text">
            © 2017 Gautham Santhosh under Developement
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
          </div>
        </footer>


{%endblock content%}
